<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="agents-net" value="https://nuget.pkg.github.com/agents-net/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <agents-net>
            <add key="Username" value="twilker" />
            <add key="ClearTextPassword" value="83d9c3587bc3fef894b416f682ba71facff86fed" />
        </agents-net>
    </packageSourceCredentials>
</configuration>